<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookstoreLinqConnectionString" connectionString="Data Source=208.100.13.26\SQLEXPRESS,49202; initial catalog=azymut;Integrated Security=false;User id=azymut;Password=93mdp02v32lk43j"
            providerName="System.Data.SqlClient" />
        <add name="GoogleFeeds.Properties.Settings.azymutConnectionString"
            connectionString="Data Source=208.100.13.26\SQLEXPRESS,49202;Initial Catalog=azymut;User ID=azymut;Password=93mdp02v32lk43j"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>