@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Automatyzacja Marketingu. 
     Aktualnie działajace modułu.

     <ol>
     
     <li>Bookstore - pobieranie danych o trnzakcjac. Przykład: @Html.ActionLink("Uruchom dla Tranzakcji 4782", "Index", new { id = "4782" })</li>
     <li>Pobierania raportów słów kluczowych z GoogleAnalytics @Html.ActionLink("zobacz","Index", "Analytics", null, null)</li>
     <li>Google Feeds dla Bookstorów np. @Html.ActionLink("TBP - default", "TPB", "BookstoreFeeds", null, null)</li>
     </ol>

    
</p>
