@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Automatyzacja Marketingu. 
     Aktualnie działajace modułu.

     <ol>
     
     <li>@Html.ActionLink("Bookstore - pobieranie danych o trnzakcjach - uruchom dla Tranzakcji 4782", "Index", new { id = "4782" })</li>
     <li></li>
     </ol>

    
</p>
