

@{
    ViewBag.Title = "Index";
}


<h2>Witaj Poniżej dane o tranzakcji</h2>

@Html.Raw(ViewBag.res.Replace("\n", "<br>"))


<br />

<hr />
<p>

Uwagi: <br />

Poprawny identyfikator transakcje to np. 4201


</p>
