@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @if (ViewBag.IsCode != null)
    {
        <span>Got access code; </span>
    }
    @if (ViewBag.IsToken != null)
    {
        <span>Got access token</span>
    }
    @if (ViewBag.IsToken == null && ViewBag.IsCode == null)
    {
        <span>No access data! Please authorize connection.</span>
    }
</p>
<a href="@ViewBag.AuthUrl">Authorize</a> 
@if (ViewBag.IsCode != null && ViewBag.IsToken != null)
{
    <a href="@Url.Action("SelectData")">Get data</a>
}
<br />
<hr />

<i>TODO: 
<ul>
<a href="https://xp-dev.com/trac/ITIdea-Projects/ticket/154">Wszystkie zadania są tutaj</a>
<li>Dodać wybieranie profili; bavi, tirefu, dopoznania, tpb </li>
<li>Dodać możliwosć pobierania danych tylko dla danego url (dodatkowe pole w "select data") - jak jest puste to ma wyswietlać wszystkie, jak wpiszemy "multicatalog" to tylko zawierajace słowo multicatalog </li>
<li>Wpisać gdzie jest wersja PHP i umieścić tutaj link do jej dokumentacji</li>
</ul></i>